{% extends parent_template|default:'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section>
    {% if app %}
    <h2>Edit {{ app }}</h2>
    <form action="{% url 'app_edit' pk=app.pk %}" method="post"> 
    {% else %}
    <h2>Create App</h2>
    <form method="post"> 
    {% endif %}
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Submit</button>
    <a class="btn btn-danger text-white" onclick="history.back()">Cancel</a>
    </form>
</section>
{% endblock content %}