        <div class="container-fluid pt-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                {% if request.session.proj %}
                    <li class="breadcrumb-item active" aria-current="page"><small>Project: </small><a href="{% url 'proj_detail' pk=request.session.proj.pk %}">{{ request.session.proj.str }}</a></li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'proj_list' %}">Select a Project</a></li>
                {% endif %}
                {% if request.session.poc %}
                    <li class="breadcrumb-item active" aria-current="page"><small>Vuln: </small><a href="{% url 'poc_detail' pk=request.session.poc.pk %}">{{ request.session.poc.str }}</a></li>
                {% endif %}
                {% if request.session.sys %}
                    <li class="breadcrumb-item active" aria-current="page"><small>System: </small><a href="{% url 'sys_detail' pk=request.session.sys.pk %}">{{ request.session.sys.str }}</a></li>
                {% endif %}
                {% if request.session.app %}
                    <li class="breadcrumb-item active" aria-current="page"><small>App: </small><a href="{% url 'app_detail' pk=request.session.app.pk %}">{{ request.session.app.str }}</a></li>
                {% endif %}
                {% if request.session.port %}
                    <li class="breadcrumb-item active" aria-current="page"><small>Port: </small><a href="{% url 'port_detail' pk=request.session.port.pk %}">{{ request.session.port.str }}</a></li>
                {% endif %}
                {% if request.session.webapp %}
                    <li class="breadcrumb-item active" aria-current="page"><small>WebApp: </small><a href="{% url 'webapp_detail' pk=request.session.webapp.pk %}">{{ request.session.webapp.str }}</a></li>
                {% endif %}
                {% if request.session.webpage %}
                    <li class="breadcrumb-item active" aria-current="page"><small>WebPage: </small><a href="{% url 'webpage_detail' pk=request.session.webpage.pk %}">{{ request.session.webpage.str }}</a></li>
                {% endif %}
                {% if request.session.vuln %}
                    <li class="breadcrumb-item active" aria-current="page"><small>Vuln: </small><a href="{% url 'vuln_detail' pk=request.session.vuln.pk %}">{{ request.session.vuln.str }}</a></li>
                {% endif %}
                </ol>
            </nav>
        </div>