{% extends parent_template|default:'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% include 'main/breadcrumbs/poc.html' %}
{% endblock %}

{% block content %}
<section>
    <h2>Delete {{ poc.name }}</h2>
    <form action="{% url 'poc_delete' proj_slug=poc.proj.slug pk=poc.pk %}?next={% url 'proj_detail' slug=poc.proj.slug %}" method="post"> 
    {% csrf_token %}
    <p>Are you sure you want to delete {{ poc.name }}?</p>
    <button type="submitt" class="btn btn-danger">Delete</button>
    <a class="btn btn-success text-white" href="{{ view.get_success_url }}">Cancel</a>
    </form>
</section>
{% endblock content %}