{% extends parent_template|default:'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% include 'main/breadcrumbs/port.html' %}
{% endblock %}

{% block content %}
<section>
    <h2>Delete {{ port }}</h2>
    <form action="{% url 'port_delete' proj_slug=port.sys.proj.slug sys_pk=port.sys.pk pk=port.pk %}?next={% url 'sys_detail' proj_slug=port.sys.proj.slug pk=port.sys.pk %}" method="post"> 
    {% csrf_token %}
    <p>Are you sure you want to delete {{ port }}?</p>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-success text-white" href="{{ view.get_success_url }}">Cancel</a>
    </form>
</section>
{% endblock content %}