{% extends parent_template|default:'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% include 'main/breadcrumbs/proj.html' %}
{% endblock %}

{% block content %}
<section>
    <h2>Delete {{ org.name }}</h2>
    <form action="{% url 'proj_delete' pk=proj.slug %}" method="post"> 
    {% csrf_token %}
    <p>Are you sure you want to delete {{ proj.name }}?</p>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-success text-white" href="{{ view.get_success_url }}">Cancel</a>
    </form>
</section>
{% endblock content %}