{% extends parent_template|default:'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section>
    {% if sys %}
    <h2>Edit {{ sys }}</h2>
    <form action="{% url 'sys_edit' pk=sys.pk %}" method="post">
    {% else %}
    <h2>Create System</h2>
    <form method="post"> 
    {% endif %}
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Submit</button>
    <a class="btn btn-danger text-white" onclick="history.back()">Cancel</a>
    </form>
</section>
{% endblock content %}