{% extends parent_template|default:'base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div>
                <h2 class="d-inline-block">{{ sys }}</h2>
                <a href="{% url 'sys_edit' pk=sys.pk %}"><image style="vertical-align: baseline;" src="{% static 'img/edit.svg' %}" alt="Edit"></a>
                <a href="{% url 'sys_delete' pk=sys.pk %}"><image style="vertical-align: baseline;" src="{% static 'img/x-square.svg' %}" alt="Delete"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="d-inline-block">Info</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>IP Address:</b> {{ sys.ip_address }}</li>
                        <li class="list-group-item"><b>FQDN:</b> {{ sys.fqdn }}</li>
                        <li class="list-group-item"><b>OS:</b> {{ sys.os }}</li>
                        <li class="list-group-item"><b>Version:</b> {{ sys.version }}</li>
                    </ul>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="d-inline-block">Ports</h5>
                        <a href="{% url 'port_create' %}"><image style="vertical-align: baseline;" src="{% static 'img/plus-square.svg' %}" alt="Create"></a>
                    </div>
                    <div class="card-body">
                    {% if sys.port_set.all %}
                        <table class="table-card table table-sm table-hover">
                            <tr>
                                <th>Protocol/Number</th>
                                <th>Service</th>
                                <th>Version</th>
                                <th>Is Webapp?</th>
                                <th>Web applications</th>
                            </tr>
                            {% for port in sys.port_set.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'port_detail' pk=port.pk %}">{{ port.get_protocol_text }}/{{ port.number }}</a>
                                    <a href="{% url 'port_edit' pk=port.pk %}"><image style="vertical-align: baseline;" src="{% static 'img/edit.svg' %}" alt="Edit"></a>
                                    <a href="{% url 'port_delete' pk=port.pk %}"><image style="vertical-align: baseline;" src="{% static 'img/x-square.svg' %}" alt="Delete"></a>
                                </td>
                                <td>{{ port.service_name }}</td>
                                <td>{{ port.version }}</td>
                                <td>{{ port.is_web_app }}</td>
                                <td>{{ port.webapp_set.all|length }}: {% for webapp in port.webapp_set.all %}{{ webapp }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="d-inline-block">Applications</h5>
                        <a href="{% url 'app_create' %}"><image style="vertical-align: baseline;" src="{% static 'img/plus-square.svg' %}" alt="Create"></a>
                    </div>
                    <div class="card-body">
                    {% if sys.app_set.all %}
                        <table class="table-card table table-sm table-hover">
                            <tr>
                                <th>Name</th>
                                <th>Version</th>
                            </tr>
                            {% for app in sys.app_set.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'app_detail' pk=app.pk %}">{{ app.name }}</a>
                                    <a href="{% url 'app_edit' pk=app.pk %}"><image style="vertical-align: baseline;" src="{% static 'img/edit.svg' %}" alt="Edit"></a>
                                    <a href="{% url 'app_delete' pk=app.pk %}"><image style="vertical-align: baseline;" src="{% static 'img/x-square.svg' %}" alt="Delete"></a>
                                </td>
                                <td>{{ app.version }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="d-inline-block">Comments</h5>
                    </div>
                    <div class="card-body">
                        <span>{{ sys.comments }}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="d-inline-block">Vulnerabilities</h5>
                        <a href="{% url 'vuln_create' %}"><image style="vertical-align: baseline;" src="{% static 'img/plus-square.svg' %}" alt="Create"></a>
                    </div>
                    <div class="card-body">
                    {% if sys.vuln_set.all %}
                        <table class="card-table table table-sm table-hover">
                            <tr>
                                <th>Title</th>
                                <th>CVE</th>
                                <th>Risk</th>
                                <th>Score</th>
                            </tr>
                            {% for vuln in sys.vuln_set.all %}
                            <tr>    
                                <td>
                                    <a href="{% url 'vuln_detail' pk=vuln.pk %}">{{ vuln.title }}</a>
                                    <a href="{% url 'vuln_edit' pk=vuln.pk %}"><image style="vertical-align: baseline;" src="{% static 'img/edit.svg' %}" alt="Edit"></a>
                                    <a href="{% url 'vuln_delete' pk=vuln.pk %}"><image style="vertical-align: baseline;" src="{% static 'img/x-square.svg' %}" alt="Delete"></a>
                                </td>
                                <td>{{ vuln.cve }}</td>
                                <td>{{ vuln.risk }}</td>
                                <td>{{ vuln.score }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}