{% extends parent_template|default:'base.html' %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div>
                <h2 class="d-inline-block">{{ webpage }}</h2>
                <a class="badge badge-warning align-text-top" href="{% url 'webpage_edit' pk=webpage.pk %}">Edit</a>
                <a class="badge badge-danger align-text-top"href="{% url 'webpage_delete' pk=webpage.pk %}">Delete</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Info</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Title:</b> {{ webpage.title }}</li>
                            <li class="list-group-item"><b>Path:</b> {{ webpage.path }}</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="d-inline-block">Attachments</h5> <a class="badge badge-success align-text-top" href="{% url 'attach_create' %}">Create</a>
                    </div>
                    <div class="card-body">
                    {% if webpage.attach_set.all %}
                        <table class="table-card table table-sm table-hover">
                            <tr>
                                <th>Name</th>
                                <th>Caption</th>
                            </tr>
                            {% for attach in webpage.attach_set.all %}
                            <tr>
                                <td><a href="{{ attach.media.url }}" target="_blank">{{ attach }}</a> <a class="badge badge-danger align-text-top" href="{% url 'attach_delete' pk=attach.pk %}">Delete</a></td>
                                <td>{{ attach.caption }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Comments</h5>
                    </div>
                    <div class="card-body">
                        {{ webpage.comments }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="d-inline-block">Vulnerabilities</h5> <a class="badge badge-success align-text-top" href="{% url 'vuln_create' %}">Create</a>
                    </div>
                    <div class="card-body">
                    {% if webpage.vuln_set.all %}
                        <table class="card-table table table-sm table-hover">
                            <tr>
                                <th>Title</th>
                                <th>CVE</th>
                                <th>Risk</th>
                                <th>Score</th>
                            </tr>
                            {% for vuln in webpage.vuln_set.all %}
                            <tr>    
                                <td>
                                <a href="{% url 'vuln_detail' pk=vuln.pk %}">{{ vuln.title }}</a>
                                <a class="badge badge-warning align-text-top" href="{% url 'vuln_edit' pk=vuln.pk %}">Edit</a>
                                <a class="badge badge-danger align-text-top" href="{% url 'vuln_delete' pk=vuln.pk %}">Delete</a>
                                </td>
                                <td>{{ vuln.cve }}</td>
                                <td>{{ vuln.risk }}</td>
                                <td>{{ vuln.score }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}